.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputItem {
  display: flex;
  flex-direction: column;
}

.textField {
  height: 40px;
  padding: 10px;
}

@media (min-width: 960px) {
  .form {
    gap: 20px;
  }
}
