.trigger {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 10px;
  color: #334155;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.trigger[data-placeholder] {
  color: var(--color-muted);
}

.content {
  min-width: var(--radix-select-trigger-width);
}

.item {
  background-color: white;
  color: #334155;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.item[data-highlighted] {
  background-color: #f3f4f6;
  outline: none;
}

.item[data-state="checked"] {
  background-color: #e5e7eb;
}
